.graph-style {
    border-radius: 8px;
    border: 2px solid #152A47;
    margin-right: 25px;
}

img {
    width: 80%;
}


.footer{
    text-align : center; 
    padding: 10px;
    color: #afc8e9;
    line-height: 0.7;
    background-color: #152A47; 
    margin-top: 40px;
}

header{
    color: #afc8e9;
    /*background-color: #3568af;*/
    background-image: url('fond.jpg');
    text-align : center;
}
header h1{
    font-size: 800%;
    font-weight: bold;
}
header h2{
    font-size: 230%;
    margin: 30px;
}
header nav{
    background-color: #333;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
header nav ul li {
    display: flex;
    align-items: center;
    margin: 0 1em;
}
header nav ul li a{
    color: #fff;
    text-decoration: none;
    margin: 10%;
    font-size: 38px;
    transition: color 0.3s ease;
}
header nav ul li a:hover {
    color: #00c3ff;
    text-decoration: underline;
}





body {
    background-color: #f0f0f5;
}
.background-light {
    background-color: #f8f9fa;
}
.background-lighter {
    background-color: #e9ecef;
}
.textarea-style {
    height: 300px;
    width: 100%;
    padding: 10px;
}
.w-100 {
    background-color : #4e44ad;
    border-color : #007bff;
}
.mb-2 {
    background-color : #4e44ad;
    border-color : #4e44ad;
    color: red;
}

.mt-22{
    visibility: hidden;
}

.page{
    background-color: #fff;
    /*border: 2px solid #333;*/
    margin: 20px;
}